.flex{
    flex-direction: row;
}

.card1:hover {
    transform: scale(1.05);
    
      
}

@media screen and (max-width: 992px) {
    .flex {
      flex-direction: column;
    }
  }


  @media screen and (max-width: 992px) {
    .cblogo img {
      
      margin: -3rem;
    }
  }